body{
  margin: 0;
  padding: 0;
  background: url(corajeycorazon.JPG) no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue",sans-serif;
  font-weight: lighter;
}

.box{
    
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  color: white;
  font-family: 'Century Gothic',sans-serif;
  height:650px; 

}

.box-img{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
  
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
}
.box li a:hover{
  color: #b9b9b9;
}
.fa-facebook-square{
	color:#0000ff;

}	
.fa-twitter-square{
	color:#b3f0ff;

}	

.fa-google-plus-square{
	color:#ff704d;

}	

.fa-linkedin{
	color:#0077b3;
}
.Menu {
      position: absolute;
      letter-spacing: 2px;
      background-color: black;
      width: 100%;
      top:0;
      text-decoration: none;
      font-size: 50px;
      display: flex;
      justify-content: center;
}
ul li a {
    text-decoration: none;
    color: white;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;   
  transform: translate(-50%, -50%);
  width: 450px;
  height:650px; 
  opacity: 0;
  border: solid red 2px;
  border-style: dotted;
  transition: .3s ease;
  background-color: black;
  display: flex;
}

.overlay:hover {
  opacity: 0.7;
   
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;   
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
   
}

.iconos{
    position:absolute;
    display: flex;
    font-size: 60px;
    width: 50%;
    left: 25%;
    justify-content: space-around;
    top: 90%;

}


